<div>
  <div>
    <h1>
      Event Spot <%= @the_event_spot.event_name %> 
    </h1>

    <div>
      <div>
        <a href="/event_spots">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event_spot/<%= @the_event_spot.id %>" class="link-danger">
          Delete This Event Spot
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Event Name
      </dt>
      <dd>
        <%= @the_event_spot.event_name %>
      </dd>

      <dt>
        Recommended by
      </dt>
      <dd>
        <%= @the_event_spot.event_visitor.username %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_event_spot.event_category.category_name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_event_spot.desc %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_event_spot.image %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit Event Spot
    </h2>

    <form action="/modify_event_spot/<%= @the_event_spot.id %>"  method="post" >
      <div>
        <label for="event_name_box">
          Event Name
        </label>

        <input type="text" id="event_name_box" name="query_event_name" value="<%= @the_event_spot.event_name %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>
         <select  type="text" id="category_id_box" name="query_category_name">
        <% $list_of_categories.each do |a_cat| %>
        <option>
          <%= a_cat.category_name %>
        </option>
        <% end %>
      </select>
      </div>

      <div>
        <label for="desc_box">
          Description
        </label>

        <textarea id="desc_box" name="query_desc"><%= @the_event_spot.desc %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_event_spot.image %>">
      </div>

      <button class="btn btn-dark">
        Update Event Spot
      </button>
    </form>
  </div>
</div>

<hr>
