<div>
  <div>
    <h1>
      Dinner Spots
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a New Dinner Spot
    </h2>

    <form action="/insert_dinner_spot" method="post">
      <div>
        <label for="loc_name_box">
          Dinner Spot Name
        </label>

        <input type="text" id="loc_name_box" name="query_loc_name">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <select  type="text" id="category_id_box" name="query_category_name">
        <% $list_of_categories.each do |a_cat| %>
        <option>
          <%= a_cat.category_name %>
        </option>
        <% end %>
      </select>
      </div>


      <div>
        <label for="desc_box">
          Description
        </label>

        <textarea id="desc_box" name="query_desc" rows="3"></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <button class="btn btn-dark">
        Create dinner spot
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Dinner Spot name
        </th>

        <th>
          Visited by
        </th>

        <th>
          Category
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>


        <th>
        </th>
      </tr>

      <% $list_of_dinner_spots.each do |a_dinner_spot| %>
      <tr>
        <td>
          <%= a_dinner_spot.loc_name %>
        </td>

        <td>
          <%= a_dinner_spot.din_user.username %>
        </td>

        <td>
          <%= a_dinner_spot.din_category.category_name %>
        </td>

        <td>
          <%= a_dinner_spot.desc %>
        </td>

        <td>
          <%= a_dinner_spot.image %>
        </td>

        <td>
          <a href="/dinner_spots/<%= a_dinner_spot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
