<div>
  <div>
    <h1>
      Dinner Spot: <%= @the_dinner_spot.loc_name %>
    </h1>

    <div>
      <div>
        <a href="/dinner_spots">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_dinner_spot/<%= @the_dinner_spot.id %>" class="link-danger">
          Delete this Dinner Spot
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant Name
      </dt>
      <dd>
        <%= @the_dinner_spot.loc_name %>
      </dd>

      <dt>
        Recommended by
      </dt>
      <dd>
        <%= @the_dinner_spot.din_user.username.capitalize %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_dinner_spot.din_category.category_name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_dinner_spot.desc %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_dinner_spot.image %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit Dinner spot
    </h2>

    <form action="/modify_dinner_spot/<%= @the_dinner_spot.id %>"  method="post" >
      <div>
        <label for="loc_name_box">
          Loc name
        </label>

        <input type="text" id="loc_name_box" name="query_loc_name" value="<%= @the_dinner_spot.loc_name %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <select  type="text" id="category_id_box" name="query_category_name">
        <% $list_of_categories.each do |a_cat| %>
        <option>
          <%= a_cat.category_name %>
        </option>
        <% end %>
      </select>
      </div>

      <div>
        <label for="desc_box">
          Description
        </label>

        <textarea id="desc_box" name="query_desc"><%= @the_dinner_spot.desc %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_dinner_spot.image %>">
      </div>

      <button>
        Update Dinner Spot
      </button>
    </form>
  </div>
</div>

<hr>
