<div>
  <div>
    <h1>
      Showing all Things that are: <%= @the_category.category_name %> 
    </h1>

    <div>
      <div>
        <a href="/categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_category/<%= @the_category.id %>" class="link-danger">
          Delete category
        </a>
      </div>
    </div>



    
  </div>
</div>

<hr>
<div>
  <div>
    <h2>
      Edit category
    </h2>

    <form action="/modify_category/<%= @the_category.id %>"  method="post" >
      <div>
        <label for="category_name_box">
          Category name
        </label>

        <input type="text" id="category_name_box" name="query_category_name" value="<%= @the_category.category_name %>">
      </div>



      <button class="btn btn-dark">
        Update category
      </button>
    </form>
  </div>
</div>

<hr>
    <h2>
      Events
    </h2>
    <table border="1">
      <tr>

        <th>
          Event name
        </th>

        <th>
          Visited by
        </th>

        <th>
          Category
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
        </th>
      </tr>

      <% $list_of_event_spots.each do |an_event_spot| %>
      <% if an_event_spot.category_id == @the_category.id%>
      <tr>
        <td>
          <%= an_event_spot.event_name %>
        </td>

        <td>
          <%= an_event_spot.event_visitor.username.capitalize %>
        </td>

        <td>
          <%= an_event_spot.event_category.category_name %>
        </td>

        <td>
          <%= an_event_spot.desc %>
        </td>

        <td>
          <%= an_event_spot.image %>
        </td>


        <td>
          <a href="/event_spots/<%= an_event_spot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>

    <h2>
      Dinner Spots
    </h2>
    <table border="1">
      <tr>

        <th>
          Dinner Spot Name
        </th>

        <th>
          Visited by
        </th>

        <th>
          Category
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>


        <th>
        </th>
      </tr>

      <% $list_of_dinner_spots.each do |a_dinner_spot| %>
      <% if a_dinner_spot.category_id == @the_category.id%>
      <tr>
        <td>
          <%= a_dinner_spot.loc_name %>
        </td>

        <td>
          <%= a_dinner_spot.din_user.username.capitalize %>
        </td>

        <td>
          <%= a_dinner_spot.din_category.category_name %>
        </td>

        <td>
          <%= a_dinner_spot.desc %>
        </td>

        <td>
          <%= a_dinner_spot.image %>
        </td>

        <td>
          <a href="/dinner_spots/<%= a_dinner_spot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      <% end%>
    </table>

    <table border="1">
      <tr>



        <h2>
        Dessert Spots
        </h2>
        <th>
          Dessert Spot
        </th>

        <th>
          Visited by
        </th>

        <th>
          Category
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
        </th>
      </tr>

      <% $list_of_dessert_spots.each do |a_dessert_spot| %>
      <% if a_dessert_spot.category_id == @the_category.id%>
      <tr>

        <td>
          <%= a_dessert_spot.loc_name %>
        </td>

        <td>
          <%= a_dessert_spot.dess_user.username.capitalize %>
        </td>

        <td>
          <%= a_dessert_spot.dess_category.category_name %>
        </td>

        <td>
          <%= a_dessert_spot.desc %>
        </td>

        <td>
          <%= a_dessert_spot.image %>
        </td>

        <td>
          <a href="/dessert_spots/<%= a_dessert_spot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
